* {
    -webkit-tap-highlight-color: rgba(
        0,
        0,
        0,
        0
    ); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: white;
}

nav, nav section {
    display: flex;
    align-items: center;
}

nav {
    padding: 5px 10px;
    justify-content: space-between;
}

nav section {
    border: 2px solid black;
    border-radius: 8px;
    font-weight: bold;
    padding: 0 9px 0 5px;
}

nav img {
    width: 32px;
}
.index {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.index .horarios {
    width: 100%;
}

.botonera {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 25px 15px 50px 15px;
}

.index .botonera button {
    height: 80px;
    border-radius: 8px;
    background-color: lightskyblue;
    font-size: 1.5rem;
    font-weight: 600;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-image: linear-gradient(to bottom, #585858 0%, #1b1b1b 51%);
    }
}
